name: Build and Upload to SquareCloud

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Imprimir o Nome do Branch
        run: |
          echo "O branch atual é: ${{ github.ref_name }}"

      - name: Checkout repository
        uses: actions/checkout@v4
      # 5. Cria ZIP com os arquivos
      - name: Prepare zip for Python project
        run: |
          ls -la
          zip -r app.zip . -x ".github/*"
      # 5. Instala dependências
      - name: Install global dependencies
        run: |
          cd .github/scripts
          npm install
          npm list @squarecloud/api

      # 6. Move o ZIP para o deploy
      - name: Move app.zip
        run: | 
          mv app.zip .github/scripts/

      # 7. Executa o deploy
      - name: Run Square Cloud deployment
        run: |
          cd .github/scripts
          echo "1. Verificando instalação..."
          npm install
          echo "2. Testando importação do pacote..."
          npm run test
          echo "3. Procurando app.zip..."
          find . -name "app.zip" -exec ls -lh {} \; 
          echo "4. Verificando app.zip..."
          [ -f app.zip ] && echo "app.zip encontrado" || echo "ERRO: app.zip não encontrado"
          echo "5. Executando deploy..."
          node .github/scripts/square-deploy.cjs
        env:
          SQUARE_API_KEY: ${{ secrets.SQUARE_API_KEY }}
          API_ID_KEY: ${{ secrets.API_ID_KEY }}












